.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  &__card {
    width: 100%;
    max-width: 400px;

    background: #fff;
    padding: 30px;
    border-radius: 16px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  &__title {
    text-align: center;
    margin-bottom: 5px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* FORM GROUP */
  .form-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      font-weight: 500;
    }

    input {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;

      transition: all 0.3s ease;

      &:focus {
        border-color: #3b82f6;
        outline: none;
      }
    }
  }

  /* BUTTON */
  .btn-primary {
    background: linear-gradient(135deg, #094585, #3b82f6);
    color: white;

    padding: 12px;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    font-weight: bold;

    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    }
  }

  /* MESSAGE */
  .form-message {
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
  }

  /* RESPONSIVE */
  @media (max-width: 480px) {
    &__card {
      margin: 20px;
      padding: 20px;
    }
  }
}